pkgbase = tokyonight-gtk-theme-storm-git
	pkgdesc = Tokyo Night GTK theme, Storm variant (dark, default accent) with the Tokyonight-Dark icons
	pkgver = r96.6c340e05
	pkgrel = 1
	url = https://github.com/Fausto-Korpsvart/Tokyo-Night-GTK-Theme
	arch = any
	license = GPL-3.0-only
	makedepends = git
	makedepends = sassc
	depends = gnome-themes-extra
	provides = tokyonight-gtk-theme-storm
	conflicts = tokyonight-gtk-theme-storm
	source = git+https://github.com/Fausto-Korpsvart/Tokyo-Night-GTK-Theme.git
	sha256sums = SKIP

pkgname = tokyonight-gtk-theme-storm-git
